# This docker compose file starts only the MongoDB database (currently)

services:
  mongodb-1:
    image: mongo:latest
    container_name: mongodb-1
    ports:
      - 27017:27017
    command: mongod --port 27017 --replSet rs0 --bind_ip_all --keyFile /data/configdb/keyfile
    restart: no
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DATABASE_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${DATABASE_PASSWORD}
      - MONGO_REPLICA_SET_KEY=${MONGO_REPLICA_SET_KEY}
    volumes:
      - ./Database/init-keyfile.sh:/docker-entrypoint-initdb.d/init-keyfile.sh
      # Only using on production
      #- ./data/mongodb-1:/data/db
      #- ./data/mongodb-1/configdb:/data/configdb

  mongodb-init:
    image: mongo:latest
    container_name: mongodb_init
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DATABASE_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${DATABASE_PASSWORD}
      - HOST=mongodb-1
      - PORT=27017
      - REPLICA_SET_NAME=rs0
    depends_on:
      - mongodb-1
    command: bash -c "chmod +x init-replica-set.sh && ./init-replica-set.sh"
    volumes:
      - ./Database/init-replica-set.sh:/init-replica-set.sh
    restart: no